* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

a {
  color:inherit;
  text-decoration: none;
 }

.page {
  background-image: url("../img/GKBackground1.png");
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}

.menu {
  height: 100px;
  background-color: #95989A;   
}

.textlogo {
   float: left;
   margin-top: 15px;
   margin-left: 40px;
   font-size: 30px;
}

li.active a {
  background-color: #800020;    
}

a:hover {
    color: #800020;
}

a:active {
    color:#800020;
}

#menubar li {
    display:inline;
    width:150px;
    text-align:center;
    background-color: #95989A;
    float: right;
    margin-top: 40px;  
}

.socialmedia {
  text-align: center;
  padding-top: 20px;
}

.content {
  height: 540px;
  text-align: center;
  width: 100%;
  float:left;
}

.contentbox {
	padding-top: 15px;
	margin-top: 150px;
	background-color: #000;
	color: white;
	height: 200px;
	text-align: left;
	width: 50%;
	 /*border styling */
    border-color: black;
    border-style: solid;
    border-width: 10px;
    /*border roundness */
    border-radius: 0px 15px 15px 0px;
    -moz-border-radius: 0px 15px 15px 0px;
    -webkit-border-radius: 0px 15px 15px 0px;
}

.portrait {
  margin-right: 15px;
}

.footer {
  height: 100px;
  background-color: #95989A;    
  clear: both;
}

